body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: olive;
}

h1 {
    font-size: 14rem;
    font-family: Montserrat;
}

.letter {
    transition: color 1000ms;
}