body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: black;
}

h1 {
    font-size: 18rem;
    font-family: Montserrat;
}

.letter {
    transition: color 1000ms;
}